.movies {
    padding: 65px 70px 80px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 38px;
}

.movies__more-button {
    margin-top: 50px;
    width: 320px;
    height: 36px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background:#F9F9F9;
    transition: 1s;
}

.movies__more-button:hover {
    border-color: #000;
    cursor: pointer;
}

.movies__more-button_invisible {
    display: none;
}

@media(max-width: 1279px) {
    .movies__list {
        grid-template-columns: repeat(3, auto);
    }
}

@media(max-width: 1140px) {
    .movies__list {
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 925px) {
    .movies {
        margin: 70px auto 80px auto;
        padding: 0;
    }

    .movies__list {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 21px;
        grid-row-gap: 30px;
    }
}

@media(max-width: 720px) {
    .movies {
        padding: 40px 10px 80px 10px;
    }

    .movies__list {
        grid-template-columns: repeat(1, auto);
        grid-column-gap: 0;
        grid-row-gap: 34px;
    }

    .movies__more-button {
        width: 240px;
    }
}