.profile {
  display: flex;
  flex-direction: column;
  width: calc(100% - 70px * 2);
  margin: auto;
  padding: 74px 0 70px 0;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding-bottom: 123px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: calc(100% - (435px - 70px) * 2);
  margin: auto;
}

.profile__fields {
  border: none;
  padding: 0;
  margin-bottom: 193px;
}

.profile__form_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.profile__form_input:first-child {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
}

.profile__form_input-name {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
}

.profile__form_input-field {
  border: none;
  background: #ffffff;
  outline: none;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  width: 50%;
  height: 90%;
}

.profile__input-error {
  display: block;
  width: 100%;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #ff4062;
  min-height: 14px;
  margin-bottom: 3px;
}

.no {
  display: none;
}

.profile__button {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: none;
  outline: none;
  padding: 0;
  align-self: center;
  margin-bottom: 9px;
  padding: 9px 15px;
}

.profile__button_edit {
  background: #ffffff;
  transition: 1s;
}

.profile__button_edit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button_save {
  width: 100%;
  height: 45px;
  background: #000;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  transition: 1s;
}

.profile__button_save:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__signout_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ff4062;
  align-self: center;
  transition: 1s;
  background: white;
  border: none;
}

.profile__signout_link:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button_save-disabled {
  background-color: #e4e4e4;
  color: #c2c2c2;
}


.profile__form-message_error {
  color: #ff4062;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.profile__input_error {
  color: #ff4062;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.profile__form-message_success {
  color: #49c403;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .profile {
    width: calc(100% - 30px * 2);
    padding: 236px 0 269px 0;
  }

  .profile__form {
    width: calc(100% - (179px - 30px) * 2);
  }

  .profile__fields {
    margin-bottom: 210px;
  }
}

@media (max-width: 320px) {
  .profile {
    padding: 70px 0 40px 0;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__form {
    width: 100%;
  }

  .profile__fields {
    margin-bottom: 350px;
  }
}
