.error {
  width: calc(100% - 440px * 2);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 246px;
}

.error__title {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0 0 5px 0;
}

.error__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 184px 0;
}

.error__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  transition: 1s;
}

.error__link:hover {
    transition: 1s;
    opacity: 0.6;
}

@media(max-width: 1179px) {
  .error {
      width: calc(100% - 184px*2);
  }
}

@media(max-width: 720px) {
  .error {
      width: calc(100% - 10px*2);
      padding-top: 329px;
  }
}