.promo {
  background-color: #f3c1f8;
  min-height: 560px;
  position: relative;
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  padding: 75px 190px 36px 70px;
  max-width: 640px;
  min-height: 174px;
  margin: 0;
}

.promo__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding: 0 520px 146px 70px;
  max-width: 310px;
  min-height: 32px;
  margin: 0;
}

.promo__image {
  position: absolute;
  right: 70px;
  top: 75px;
  bottom: 195px;
}

.rotation {
  animation: rotation 20s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.promo__button {
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #f3c1f8;
  margin: 0 0 75px 70px;
  transition: 1s;
}

.promo__button:hover {
  transition: 1s;
  opacity: 0.5;
}

.promo__button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  display: flex;
  padding: 10px 20px;
  margin: 0;
  color: #000;
  text-decoration: none;
}


@media(max-width: 768px) {
  .promo {
    min-height: 850px;
    display: flex;
    flex-direction: column-reverse;
  }
  .promo__title {
    font-size: 40px;
    line-height: 50px;
    padding: 0;
    max-width: 680px;
    min-height: 100px;
    margin: 48px auto 22px auto;
    text-align: center;
  }
  .promo__subtitle {
    margin: 0 auto 92px auto;
    max-width: 260px;
    min-height: 32px;
    text-align: center;
    padding: 0;
  }
  .promo__button {
    margin: 0 0 76px 319px;;
  }
  .promo__image {
    right: 229px;
    top: 140px;
  }
}

@media(max-width: 435px) {
  .promo {
    min-height: 640px;
  }
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    padding: 0px 10px 24px 10px;
    max-width: 300px;
    min-height: 114px;
  }
  .promo__subtitle {
    margin: 0 auto 80px auto;
    padding: 0;
  }
  .promo__button {
    margin: 0 0 30px 95px;
  }
  .promo__image {
    right: 55px;
    top: 70px;
    max-width: 210px;
    min-height: 206px;
  }
}
