.header__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation_right {
  justify-content: flex-end;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__navigation_movies {
  padding-left: 426px;
}

.header__link_movies {
  color: #000000;
  margin-right: 16px;
  transition: 1s;
}

.header__link_movies:hover {
  transition: 1s;
  opacity: 0.6;
}

.header__link_movies:active {
  font-weight: 500;
}

.header__link_register {
  color: #000000;
  padding: 8px 20px;
  transition: 1s;
}

.header__link_register:hover {
  transition: 1s;
  opacity: 0.6;
}

.header__link_account {
  max-width: 100px;
  min-height: 32px;
  background: #ffff;
  transition: 1s;
}

.header__link_account:hover {
  opacity: 0.6;
  transition: 1s;
}

.header__link_login {
  color: #ffffff;
  background-color: #000;
  padding: 8px 20px;
  border-radius: 3px;
  transition: 1s;
}

.header__link_login:hover {
  transition: 1s;
  opacity: 0.6;
}

.header__burger {
  background: url("../../images/burger.svg") center no-repeat;
  height: 44px;
  width: 44px;
  border: none;
  outline: none;
  display: none;
}

.header__burger_menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.header__burger_close {
  position: absolute;
  background: url("../../images/BurgerClose.svg") center no-repeat;
  border: none;
  outline: none;
  height: 22px;
  width: 22px;
  top: 22px;
  right: 22px;
  z-index: 1;
}

.header__burger_container {
  background: #ffffff;
  width: 60%;
  height:100%;
  position: relative;
  z-index: 0;
  transform: translateX(100%);
  transition: transform 1s;
}

.header__burger_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 129px 90px 90px 90px;
}

.header__burger_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 4px;
  margin-bottom: 22px;
  color: #000;
}

.header__burger_link:active {
  border-bottom: 2px solid #000;
}

.burger__link_account {
  margin: 326px 0 0 0;
  background: #ffff;
  padding: 8px 20px;
  border: none;
  transition: 1s;
}

.burger__link_account:hover {
  transition: 1s;
  opacity: .6;
}

.no {
  display: none;
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

@media(max-width: 768px) {
  .header__link_account{
      display: none;
  }
  .header__navigation_movies {
    display: none;
  }

  .header__link_movies {
      display: none;
  }

  .header__burger {
      display: block;
  }

  .no {
      display: none;
  }
}

@media(max-width: 320px) {
  .header__burger_container {
      width: 100%;
      height:100%;
  }

  .header__burger_links {
      padding: 144px 10px 46px 10px;
  }
  .burger__link_account {
    margin: 200px 0 0 0;
  }
}
