.search {
  padding: 70px 70px 48px 70px;
}

.search__form {
  display: flex;
  width: 100%;
  background: #ffffff;
  flex-direction: column;
}

.search__form_fields {
  border: none;
  padding: 0 0 13px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search__form_input {
  padding-left: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #a0a0a0;
  border: none;
  width: 1080px;
}

.search__form_button {
  background: #000000;
  border-radius: 48px;
  color: #ffff;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  border: none;
  padding: 8px 10.5px 8px 10.5px;
}

.search__toggle_box {
  display: flex;
  flex-direction: row;
  padding: 32px 0 0 0;
  border-top: solid 1px #e8e8e8;
}

.search__toggle_text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding-left: 14px;
}

@media(max-width: 1279px) {
  .search__form_input {
      max-width: 700px;
  }
}

@media(max-width: 1240px) {
  .search__form_input {
      max-width: 675px;
  }
}

@media(max-width: 1200px) {
  .search__form_input {
      max-width: 620px;
  }
}

@media(max-width: 1150px) {
  .search__form_input {
      max-width: 570px;
  }
}

@media(max-width: 1100px) {
  .search__form_input {
      max-width: 520px;
  }
}

@media(max-width: 1050px) {
  .search__form_input {
      max-width: 440px;
  }
}

@media(max-width: 970px) {
  .search__form_input {
      max-width: 350px;
  }
}

@media(max-width: 920px) {
  .search {
      width: calc(100% - 30px*2);
      padding: 80px 0 120px 35px;
  }

  .search__form_input {
      max-width: 460px;
  }

  .search__form_button {
      margin: 0 19px 0 0;
  }

  .search__toggle_text {
      margin: 0 20px 0 0;
  }
}

@media(max-width: 850px) {
  .search__form_input {
      max-width: 420px;
  }
}

@media(max-width: 800px) {
  .search__form_input {
      max-width: 340px;
  }
}

@media(max-width: 720px) {
  .search {
    width: calc(100% - 10px*2);
    margin: 80px auto 89px auto;
    position: relative;
    padding: 0;
    z-index: 0;
}

  .search__form_input {
      max-width: 500px;
  }

  .search__toggle_text {
      margin: 0;
  }
}

@media(max-width: 650px) {
  .search__form_input {
      max-width: 400px;
  }
}

@media(max-width: 550px) {
  .search__form_input {
      max-width: 300px;
  }
}

@media(max-width: 425px) {
  .search__form_input {
      max-width: 180px;
  }
}
