.about-project {
  padding: 110px 70px;
}

.about-project__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0;
}

.about-project__info {
  display: flex;
  justify-content: space-between;
}

.about-project__info_column {
  margin-bottom: 110px;
}

.about-project__info_title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  padding: 70px 40px 26px 0;
  max-width: 550px;
  min-height: 24px;
  margin: 0;
}

.about-project__info_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  max-width: 550px;
  min-height: 40px;
  margin: 0;
}

.about-project__steps {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
}

.about-project__steps-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 9px 0;
  margin: 0;
}

.about-project__steps-text_type_one-week {
  grid-column-start: 1;
  grid-column-end: 2;
  color: #ffffff;
  background: #000000;
}

.about-project__steps-text_type_four-week {
  grid-column-start: 2;
  grid-column-end: 7;
  background: #f2f2f2;
}

.about-project__description-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 14px 0 0 0;
}

.about-project__description-text-back {
  grid-column-start: 1;
  grid-column-end: 2;
}

.about-project__description-text-front {
  grid-column-start: 2;
  grid-column-end: 7;
}

@media (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }
}

@media (max-width: 370px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__info {
    flex-direction: column;
    justify-content: center;
  }

  .about-project__info_column {
    margin-bottom: 56px;
  }

  .about-project__info_column:not(:last-child) {
    margin-right: 0;
  }

  .about-project__info_column:last-child {
    margin-bottom: 60px;
  }
}
