.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 442px * 2);
  padding: 70px 0;
  margin: auto;
}

.register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 40px 0;
}

.auth__form {
  width: 100%;
}

.auth__fields {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0 0 69px 0;
}

.auth__input_name {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 0 0 10px 0;
}

.auth__input {
  width: calc(100% - 15px * 2);
  margin: 0 0 10px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: outline-color 0.2s ease-in-out;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.auth__error {
  color: #ff4062;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: block;
}

.auth__submit_error {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #ff004c;
  width: 100%;
  min-height: 16px;
  margin-bottom: 10px;
}

.auth__button {
  background: #000;
  border-radius: 3px;
  border: none;
  width: 100%;
  height: 45px;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  transition: opacity 1s ease-in-out;
}

.auth__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.auth__button_disabled {
  background-color: #e4e4e4;
  color: #c2c2c2;
}

.auth__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 16px 0 0 0;
  align-self: center;
}

.auth__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000;
  margin: 0 0 0 6px;
  transition: opacity 0.3s ease-in-out;
}

.auth__link:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .register {
    width: calc(100% - 186px * 2);
  }
}

@media (max-width: 320px) {
  .register {
    width: calc(100% - 30px * 2);
  }

  .register__title {
    margin: 50px 0 80px 0;
    align-self: center;
  }

  .auth__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__link {
    font-size: 12px;
    line-height: 15px;
  }
}
