.techs {
  background-color: #f5f5f5;
  padding: 100px 70px;
}

.techs__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  margin: 0;
}

.techs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  padding: 90px 0 26px;
  margin: 0;
}

.techs__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  min-height: 40px;
  margin: 0 auto 100px auto;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-column-gap: 10px;
  padding: 0;
  margin: auto;
  justify-items: center;
  width: calc(100% - 225px * 2);
  list-style: none;
}

.techs__list-item {
  width: 90px;
  height: 60px;
  background: #e8e8e8;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.techs__list-item:hover {
  transition: 1s;
  opacity: 0.5;
  background: #000;
  color: #ffff;
}

@media (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 22px 0;
  }

  .techs__subtitle {
    margin: 0 auto 83px auto;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    width: 100%;
    margin: 0;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 67px;
  }
}

@media (max-width: 320px) {
  .techs {
    padding: 70px 18px;
    background: #ffff;
  }

  .techs__heading {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  .techs__title {
    margin: 0 0 24px 0;
  }

  .techs__subtitle {
    margin: 0 auto 50px auto;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    width: calc(100% - (71px - 18px) * 2);
    margin: auto;
  }
}
