.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 442px * 2);
  padding: 70px 0;
  margin: auto;
}

.login__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 40px 0;
}

.login__fields {
    margin-bottom: 155px;
}

@media(max-width: 1200px) {
  .login {
    width: calc(100% - 800px);
  }
}

@media(max-width: 1100px) {
  .login {
    width: calc(100% - 735px);
  }
}

@media(max-width: 924px) {
  .login {
    width: calc(100% - 650px);
  }
}

@media(max-width: 800px) {
  .login {
    width: calc(100% - 100px);
  }
}

@media(max-width: 320px) {
  .login {
      width: calc(100% - 30px*2);
  }
}
