.about-me {
  padding: 110px 70px 100px 70px;
}

.about-me__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
  margin: 0;
  padding-bottom: 23px;
}

.about-me__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.about-me__description_name {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 66px 0 18px 0;
}

.about-me__description_subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  max-width: 600px;
  min-height: 20px;
}

.about-me__description_aboute {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 26px 0 99px 0;
}

.about-me__description_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 20px;
  transition: opacity 0.3s;
}

.about-me__description_link:hover {
  opacity: 0.6;
}

.about-me__description_photo {
  border-radius: 10px;
  width: 300px;
  height: 327px;
  margin-top: 66px;
}

@media(max-width: 768px) {
  .about-me {
      padding: 90px 50px;
  }

  .about-me__description_name {
      font-size: 40px;
      line-height: 40px;
  }

  .about-me__description_subtitle {
      font-size: 12px;
      line-height: 18px;
  }

  .about-me__description_aboute {
      font-size: 12px;
      line-height: 18px;
      max-width: 364px;
  }

  .about-me__description_photo {
      width: 252px;
      height: 290px;
  }
}

@media(max-width: 475px) {
  .about-me__description {
      display: flex;
      flex-direction: column;
      margin-bottom: 69px;
  }
}

@media(max-width: 320px) {
  .about-me {
      padding: 70px 14px;
  }

  .about-me__description {
      display: flex;
      flex-direction: column;
      margin-bottom: 69px;
  }

  .about-me__description_photo {
      order: -1;
      width: 288px;
      margin: 60px auto 40px auto;
  }

  .about-me__description_name {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 20px;
      padding: 0;
  }

  .about-me__description-subtitle {
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 20px;
  }

  .about-me__description_aboute {
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 40px;
      padding: 0;
  }
}
